/* tells us how the backoground should look */
body {
	background-color: #E6E6E6;
	background-image: url("https://github.com/NeonKarearea/Faze_TSM/blob/master/clan_badge.png?raw=true");
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* tells us how the main header should look */
h1 {
    color: #0F1F4B;
    font-size: 75px;
    font-weight: bold;
    font-family: Sans-Serif;
}
/* tells us how paragraphs should look */
p {
	color: #123456;
	font-size: 18px;
	font-family: Sans-Serif;
}
/* tells us how sub-headers should look */
h3 {
	color: #00004d;
	font-size: 24px;
	font-family: Sans-Serif;
}
a {
	color: #123456;
	font-size: 18px;
	font-family: Sans-Serif;
	text-decoration: none;
/* tells us anything with the id of banner should look */
#banner {
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
	font-family: Sans-Serif;
}
/* tells us how anything with the id of result should look */
#result-good {
	color: #009900;
	font-size: 20px;
	font-weight: bold;
	font-family: Sans-Serif;
}
#result-bad {
	color:#990000;
	font-size: 20px;
	font-weight: bold;
	font-family: Sans-Serif;
}
#league {
	color: #ffa64d;
	font-size: 22px;
	font-weight: bold;
	font-family: Sans-Serif;
}
